* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: Montserrat, sans-serif;
    height: 100vh;         
    background-color: #FFFFFF;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    padding-top: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
  }
  
  .content {
    width: 805px;
    text-align: center;
  }
  
  h1 {
    padding-left: 49px;
    padding-right: 49px; 
    padding-bottom: 25px;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
  }
  
  p {
    color: black;
  }
  
  .buttons {
    padding-top: 50px;
    display: flex;
    justify-content: center;;
    gap: 31px; 
  }
  
 button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    z-index: 3;
    padding: 20px 30px;
  }
  
  .btn-primary {
    background-color: transparent; 
    border: 2px solid black; 
    color: black; 
    border-radius: 100px;
  }

  .btn-secondary {
    background-color: #00942a;
    color: white;
    border-radius: 100px;
  }

  .conteudo2 .btn-tentiary {
    padding: 15px 40px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #0048b0;
    color: white;
    border-radius: 100px;
  }

  .conteudo2 .btn-tentiary:hover {
    background-color: #165bbb;
  }
  
  
  .btn-secondary:hover {
    background-color: #218838;
  }
  
  button:first-of-type:hover {
    background-color: #f0f8ff; 
  }
  
  .icon {
    width: 17px;  
    height: auto; 
  }

  @media (max-width: 768px) {
    .main-content {
      padding: 30px 20px;
    }
    header {
      display: flex;
      justify-content: center; 
      align-items: center;     
      width: 100%;
      padding-top: 40px;
  }
  
  .logo {
      width: 240px;
  }
    .content {
      width: 100%;
    }

    .logo {
      width: 240px;
      height: auto;
  }
  
    h1 {
      font-size: 30px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 25px;
    }
  
    p {
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .buttons {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      gap: 20px;
    }
  
    .btn-primary,
    .btn-secondary {
      padding: 15px 40px;
    }
  
    .btn-primary {
      border: 2px solid black;
      color: black;
      background-color: transparent;
    }
  
    .btn-secondary {
      background-color: #00942a;
      color: white;
    }
  
    .icon {
      width: 20px;
    }
  }

.horizontal-line-with-texts {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px; 
  }
  
  .item {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .line {
    width: 3px;
    height: 30px;  
    background-color: #0048b0; 
  }
  
  .text {
    font-size: 16px;
    color: rgb(255, 255, 255); 
    text-align:left;
  }

  .dobra2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.conteudo-dobra2 {
    margin-top: -250px;
    width: 100%; 
    max-width: 1280px; 
    text-align: center;
}

.image-dobra2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1050px; 
  margin: 0 auto; 
  position: relative; 
  top: 200px; 
  z-index: 1;
}

.conteudo-dobra2 h2 {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 30px 90px;
}


.image {
    width: 100%;
    height: 584px;
    object-fit: cover;
    border-radius: 26px;
}

.box2 {
  background-color: rgba(0, 54, 132, 1);
  border-radius: 25px;
}

.conteudo2 {
  z-index: 2;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 244px;
  padding-left: 95px;   
  padding-right: 95px; 
  padding-bottom: 95px;  
  align-items: center;
  width: 100%; 
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  .dobra2 {
    padding: 50px 20px;  
  }

  .conteudo-dobra2 {
    margin-top: -150px;
    width: 100%;
  }

  .image-dobra2 {
    max-width: 100%;
    position: relative;
    top: 130px; 
  }

  .image {
    width: 90%;  
    height: auto;
  }

  .box2 {
    width: 100%;
    background-color: rgba(0, 54, 132, 1);
    border-radius: 15px;
  }

  .conteudo2 {
    padding-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .conteudo-dobra2 h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
  }

  .text {
    font-size: 14px; 
    text-align: left;
  }

  .conteudo2 .btn-tentiary {
    padding: 15px 40px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #0048b0;
    color: white;
    border-radius: 100px;
  }

  .horizontal-line-with-texts {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 90%;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 72, 176, 1); 
    border-radius: 109px;
  }

  .text {
    margin-top: 5px;
    font-size: 14px;
    text-align: center; 
  }
}
  .btn-tertiary {
    background-color: #fff;
    color: #003684;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-tertiary:hover {
    background-color: #3b81e4;
    color: white;
  }

  .dobra3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 100px;
}

.conteudo-dobra3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  max-width: 1280px; 
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 55px;
}


.info-item {
  width: 30%;
  text-align:left;
}

.info-item h3 {
  font-size: 1.375em;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgba(0, 54, 132, 1);
}

.info-item p {
  font-size: 1em;
}

.cta-btn {
  width: 100%;
  padding: 30px;
  background-color: #00942a;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1.9rem;
  cursor: pointer;
  border-radius: 100px;
}

.conteudo-dobra3 .cta-btn:hover {
  background-color: #0bb83c;
}

.cta-btn:hover {
  background-color: #0bb83c;
}

.video-container {
  width: 984px;
  height: 550px;
  margin-top: 55px;
}

iframe {
  width: 100%;
  height: 555px;
  border-radius: 47.9px;
}

@media (max-width: 768px) {
  .dobra3 {
    padding: 0 20px;
  }

  .info {
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    margin-bottom: 20px;
  }

  .info-item {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
  }

  .info-item h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  .info-item p {
    font-size: 14px;
    margin: 0; 
    padding: 0; 
  }

  .cta-btn {
    padding: 23px;
    font-size: 14px
  }

  .video-container {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  iframe {
    width: 100%;
    height: 250px;
    border-radius: 15px;
  }
}

.dobra5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 100px;
}

.conteudo-dobra5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  max-width: 1280px; 
}

.conteudo-dobra5 .cta-btn5 {
  padding: 15px 40px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  background-color: #0048b0;
  color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  margin-bottom: 40px;
}

.conteudo-dobra5 .cta-btn5:hover {
  background-color: #0056b3;
}

.cta-btn5:hover {
  background-color: #0056b3;
}


.section-title {
  font-size: 2.625em;
  margin-bottom: 70px;
  font-weight: 700;
  color: black;
  text-align: center; 
}

.component {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  width: 100%; 
}

.component-text .line {
  width: 100px;
  height: 5px;
  border-radius: 28px;
  background-color: rgba(0, 72, 176, 1);
  margin-bottom: 15px; 
}

.component-body {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  width: 100%; 
  gap: 40px; 
}

.ganhador {
  font-size: 1.3750em;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 10px
}

.valor{
  font-size: 1.3750em;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 21px;
}

.premio{
  font-size: 2em;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 10px;
}

.data{
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}

.component-text {
  flex-grow: 0; 
  text-align: left;
  max-width: 400px; 
}

.component-video {
  flex-grow: 1; 
  flex-shrink: 0; 
  width: 100%; 
  max-width: 514px;
}

.component-video iframe {
  width: 100%; 
  height: 290px;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .dobra5{
    padding: 30px 20px;
  }
  
  .component {
    margin-bottom: 50px;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
  }

  .component-text p {
    padding: 0;
  }

  .ganhador {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 4px
  }
  
  .valor{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 21px;
  }
  
  .premio{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 4px;
  }
  
  .data{
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
  }
  
  .component-body {
    flex-direction: column; 
    gap: 30px; 
  }

  .component-text .line {
    width: 100%;
    height: 2px;
    border-radius: 28px;
    background-color: rgba(0, 72, 176, 1);
    margin-bottom: 6px; 
  }

  .component-text {
    max-width: 100%; 
    text-align: start; 
    margin: 0;
    padding: 0;
  }

  .component-video {
    max-width: 100%; 
  }

  .component-video iframe {
    height: 250px;
    border-radius: 15px;
  }

  .cta-btn5 {
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 30px;   
    padding-right: 30px; 
    padding-bottom: 12px;  
    font-size: 14px; 
  }

  .section-title {
    font-size: 30px; 
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .component-text {
    order: 1; 
  }
  
  .component-video {
    order: 2; 
  }
}

.dobra6{
  display: flex;
  padding: 100px 20px;
  flex-direction: row;
}

.conteudo-dobra6 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1044px;
  position: relative;
  margin: 0 auto;
}

.left-column {
  width: 40%;
}

.doubts-text {
  color: rgba(0, 72, 176, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.check-our {
  font-size: 16px;
  font-weight: bold;  
  margin-bottom: 5px;
}

.whatsapp-block {
  position: absolute; 
  bottom: 20px; 
  left: 20px;
  width: 208px;
}

.whatsapp-text-bold {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;  
}

.whatsapp-text-normal {
  font-weight: normal;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;  
}

.faq-title {
  font-size: 42px;
  font-weight: 700;  
}

.whatsapp-text {
  font-size: 16px;
  color: #333;
  margin-top: 30px;
}

.whatsapp-icon img {
  width: 50px;
  height: 50px;
  display: block;
  margin-top: 10px;
  transition: transform 0.3s;
}

.whatsapp-icon img:hover {
  transform: scale(1.1);
}

.right-column {
  width: 65%;
}

.questions-block {
  width: 298px;  
}

.faq-item {
  border-bottom: 1px solid rgba(28, 28, 28, 1);
  margin-bottom: 10px;
}

.faq-question {
  background: none;
  border: none;
  font-weight: 600;
  width: 100%;
  padding: 20px 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left; 
}

.expand-icon {
  margin-right: 10px;
  width: 20px;  
  height: 20px; 
  transition: transform 0.3s;
}

.faq-answer {
  display: none;
  padding: 20px 0;
  font-size: 1rem;
}

.faq-answer p {
  margin: 0;
}

@media (max-width: 768px) {
  .dobra6 {
    flex-direction: column; 
    padding: 0 20px;
  }

  .conteudo-dobra6 {
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }

  .doubts-text {
    color: rgba(0, 72, 176, 1);
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  .faq-title {
    font-size: 30px;
    font-weight: 700;
  }
  
  .check-our {
    font-size: 16px;
    font-weight: bold;  
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .whatsapp-block {
    position: relative;
    margin-top: 30px; 
    left: auto;
    right: auto;
    width: 100%; 
    display: flex; 
    align-items: center; 
    gap: 5px; 
    justify-content: flex-start; 
    flex-direction: row-reverse;
  }

  .faq-question {
    font-size: 16px; 
    padding: 15px;
  }

  .faq-answer {
    font-size: 14px;
    padding: 15px;
  }

  .whatsapp-icon img {
    width: 66px;
    height: 66px;
    margin: 0;
    padding: 0;
  }

  .whatsapp-text {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0;
  }
}
.footer {
  background-color: rgba(0, 54, 132, 1); 
  color: white;              
  padding: 20px 0;            
  text-align: center;        
}

.footer-content {
  display: flex;
  flex-direction: column;     
  justify-content: center;   
  align-items: center;        
}

.footer-logo {
  width: 350px;  
  margin-bottom: 10px; 
}

.footer-text {
  font-size: 14px; 
  color: #f0f0f0;
}

.texto {
  position: absolute;
  top: 55%;        
  left: 0;
  width: 100%;
  height: 100%;     
  display: flex;
  justify-content: center;  
  align-items: center;     
}

.texto img {
  width: 100%;     
  height: auto;  
}

.dobra4 {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  align-items: center;  /* Centraliza horizontalmente */
  text-align: center;
  padding: 100px;
  justify-content: center; /* Alinha verticalmente ao centro */
  margin: 0 auto; /* Centraliza o conteúdo */
}

.slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  z-index: 1;
}

.slider {
  display: flex;
  height: 100%; 
  height: 500px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  gap: 1rem;
  padding-bottom: 1rem;
}

.slider::-webkit-scrollbar {
  display: none; 
}

.slider img {
  flex: 0 0 85%; 
  scroll-snap-align: center;
  object-fit: cover;
  border-radius: 0.5rem;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  padding: 20px;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}

.slider-nav a.active {
  background-color: #FFFFFF; 
  opacity: 1;  
}

.slider-nav a:hover {
  opacity: 1;
}

.texto {
  position: relative;
  display: flex;
  justify-content: center; /* Centraliza a imagem dentro da div */
  overflow: visible;
}

.texto img {
  position: absolute;
  width: 100%;     
  height: auto; 
}

@media screen and (max-width: 768px) {
  .slider {
    gap: 0.5rem;
    height: 300px;
  }

  .slider img {
    flex: 0 0 100%; 
    object-fit: cover;
  }

  .dobra4 {
    padding: 20px 20px; 
  }
}


@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; 
    align-items: center; 
    padding: 15px 80px;
  }

  .footer-logo {
    width: 280px; 
  }

  .footer-text {
    font-size: 14px; 
  }
}
